/*--------------------------------------------------------------------------------------------------------------------*/
/*HEADER*/
/*--------------------------------------------------------------------------------------------------------------------*/
body {
      font-family: 'Courier New', Courier, monospace;
      background-color: #1A1B1D;
      color:white;
      position: relative;
      margin:0px;
}
a{
      text-decoration: none; color: #D74341;
}
a:hover{
      text-decoration:none; color: #934341;
}
ul li{ 
      display: inline-block; 
}
.topHeader{
      background-color: black; 
      color:#626262; 
      height: 40px; 
      width:auto;
      margin-top: -0.5em;
}
.topHeaderLeft{
      float: left;
      margin-left: -1em;
}
.topHeaderRight{
      float: right;
      margin-right: 2em;
}
.navBar{
      height: 8em;
      font-family: 'Courier New', Courier, monospace;
}
.molecularLogo{
      position: absolute; 
      margin-top: 1.8em;
      margin-left: 3em;
}
.navBarLinks{
      position: absolute; 
      float: right;
      text-align: center;
      right: 30px;
      top: 4em;
}
.navBarLinks ul li{
      border-right: 0.03em solid #626262;
      text-align: justify;
      width: 9em;
}
.navBarLinks ul li p{
      font-size: 0.8em;
}
.navBarLinks ul li:last-child {
      border-right: none;
    }
.navBarLinks p{
      margin-right: 1em;
}
.hrBlock { 
      width:100%; 
      height:0.6em; 
      background: #D74341 
}
      /*Dropdown menu------------------------------------------------------------------------------------------------*/
 /* Style The Dropdown Button */
.dropbtn {
  background-color: #1A1B1D;
  color: white;
  padding: 16px;
  font-size: 0.8em;
  border: none;
  cursor: pointer;
  font-family: 'Courier New', Courier, monospace;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
  font-size: 1.25em;
  font-family: Georgia, 'Times New Roman', Times, serif;
}


/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  font-size: 0.8em;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}
/*--------------------------------------------------------------------------------------------------------------------*/
/*CONTAINER*/
/*--------------------------------------------------------------------------------------------------------------------*/
.container{
      font-family: Georgia, 'Times New Roman', Times, serif;
      color: #626262;
      background-color: white;
}
.container h1{
      font-weight: normal;
}
button{
      background-color: #D74341;
      border-radius: 25px;
      height: 2em;
      border: none;
      color: #ffffff;
      
}
.part1 blockquote{
      font-style: italic;
      text-align: center;
      color: #9B9B9B;
}
.part1 article{
      width: 25%;
      display: inline-block;
      padding: 1em;
      margin-left: 3em;
}
.part2 img{
      margin: 3em;
}
.part2 button{
      background-color: #D74341;
      border-radius: 25px;
      height: 1.7em;
}
.part3{
      padding-block-end: 2em;
}
.part3-1{
      float:left; 
      width:40%;
      text-align: justify;
      padding-block-end: 2em;
      padding-inline-end: 2em;
      height: 30%;
      padding-left:1em;
}
.article2{
      float: right;
      margin-top: -20%;
}

      /* StyleDemo container------------------------------------------------------------------------------------------*/
.row div{
      display: inline-block;
      padding-right: 4em;
      padding-left: 3em;
}
/*--------------------------------------------------------------------------------------------------------------------*/
/*FOOTER*/
/*--------------------------------------------------------------------------------------------------------------------*/
.footer{
      color:#626262; 
}
.latestPosts{
      float:left; 
      width:28%;
      padding-left: 3em;
}
.contactDetails{
      float:left; 
      width:28%;
      padding-left: 3em;
}
.contactDetails h2{
      margin-left: 1.5em;
}
.contactDetails ul li{
      display: block;
}
.contactDetails a{
      margin-left: 2.5em;
}
.contactDetails ul a{
      margin-left: 0em;
}
.newsLetter{
      float:left; 
      width:28%;
      padding-left: 3em;
}
input[type=text] {
      width: 100%;
      padding: 12px 20px;
      margin: 8px 0;
      background-color: #27282C;
      border: none;
}
/*--------------------------------------------------------------------------------------------------------------------*/


/*SlideShow*/

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: red;
  font-size: 18px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}




